.emailsig-settings.form-table input {
    width: 100%;
    padding-right: 10px;
}
.emailsig-settings.form-table .multi-input {
    border-bottom: none;
}
.emailsig-settings.form-table .multi-input-last {
    border-top: none;
}
.emailsig-settings.form-table th {
    text-align: right;
    width: auto;
    vertical-align: middle;
}
.emailsig-settings.form-table td {
    vertical-align: middle;
    padding-right: 20px;
}
.emailsig-settings.form-table .es_subhead {
    width: auto;
    padding-right: 2px;
    text-align: right;
}